# Ignore everything in this directory
*

# Except these files
!.gitignore
!*.py
!*.md
!obce_VT.csv
!output/*
!statistics.sk/*
!statistics.sk
!output
!output/statistics
!output/statistics/*
05_missing_company_details.py
